name: Build Docker Images

on:
  push:
    branches:
      - master

jobs:
  original-arm64-on-amd64:
    runs-on: 'ubuntu-24.04'
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Build
        run: docker buildx build --platform linux/arm64 --pull -f original-apk.Dockerfile .
  original-amd64-on-arm64:
    runs-on: 'ubuntu-24.04-arm'
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Build
        run: docker buildx build --platform linux/amd64 --pull -f original-apk.Dockerfile .
  patched-arm64-on-amd64:
    runs-on: 'ubuntu-24.04'
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Build
        run: docker buildx build --platform linux/arm64 --pull --build-arg APK_BIN_URL=https://gitlab.alpinelinux.org/alpine/apk-tools/-/jobs/2132015/artifacts/raw/build-static/src/apk.static-aarch64?inline=false .
  patched-amd64-on-arm64:
    runs-on: 'ubuntu-24.04-arm'
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Build
        run: docker buildx build --platform linux/amd64 --pull --build-arg APK_BIN_URL=https://gitlab.alpinelinux.org/alpine/apk-tools/-/jobs/2132013/artifacts/raw/build-static/src/apk.static-x86_64?inline=false .