name: Build Docker Images

on:
  push:
    branches:
      - master

jobs:
  matrix-build:
    strategy:
      matrix:
        apk_bin: [ 'original-apk', 'patched-apk' ]
        reapply_qemu: [ true, false ]
        target_arch: [ 'amd64', 'arm64' ]
      fail-fast: false

    name: ${{ matrix.apk_bin }} / ${{matrix.target_arch }} / ${{matrix.reapply_qemu && 'QEMU forced' || 'QEMU host-original' }}
    runs-on: ${{ matrix.target_arch == 'amd64' && 'ubuntu-24.04-arm' || 'ubuntu-24.04' }}

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up QEMU 10.0.4
        uses: docker/setup-qemu-action@v3
        if: matrix.reapply_qemu == true
        with:
          image: tonistiigi/binfmt:qemu-v10.0.4-56

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Build
        run: docker buildx build --platform linux/${{ matrix.target_arch }} --pull -f ${{ matrix.apk_bin }}.Dockerfile --build-arg APK_BIN_URL=${{ (matrix.apk_bin == 'patched-apk' && matrix.target_arch == 'amd64' && 'https://gitlab.alpinelinux.org/alpine/apk-tools/-/jobs/2132013/artifacts/raw/build-static/src/apk.static-x86_64?inline=false') || (matrix.apk_bin == 'patched-apk' && matrix.target_arch == 'arm64' && 'https://gitlab.alpinelinux.org/alpine/apk-tools/-/jobs/2132015/artifacts/raw/build-static/src/apk.static-aarch64?inline=false') || '' }} .
