name: Build Docker Images

on:
  push:
    branches:
      - master

jobs:
  linux-build:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Build and push by digest
        run: docker buildx build --platform linux/arm64 --pull .